<h1>Authors#index</h1>
<p>Find me in app/views/authors/index.html.erb</p>

<% @authors.each do |author| %>
  <li><%= link_to author.first_name, author_path(id: author.id) %> <%= author.last_name %> <%= author.bio %></li>
<% end %>
