<h4>New Author</h4>
<%= render partial: 'form' %>
<br>
<%= link_to "Return to Authors", authors_path, :class => "mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--colored" %>
