<h1>Books#index</h1>
<p>Find me in app/views/books/index.html.erb</p>

<% @books.each do |book| %>
  <li><%= link_to book.title, book_path(id: book.id) %> <%= book.author_id %> <%= book.price %> <%= book.photo_url %></li>
<% end %>
